<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDEDidComputeMac32BitWarning</key>
	<true/>
    <key>GIDClientID</key>
  <string>679576300907-r9jui0n5bdkenmkds93ou2ddvup4d0g6.apps.googleusercontent.com</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>com.googleusercontent.apps.679576300907-r9jui0n5bdkenmkds93ou2ddvup4d0g6</string>
      </array>
    </dict>
  </array>
  <key>GIDServerClientID</key>
  <string>1070884494482-la4u73evcmh8o8im2fgdpb7v15ieidlg.apps.googleusercontent.com</string>
</dict>
</plist>
