<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Scene Manifest</key>
	<dict>
		<key>Enable Multiple Windows</key>
		<true/>
		<key>Scene Configuration</key>
		<dict/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>aaa</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.267811359027-kdqq2qg3ll9i63mj0do4fqukd4v9lp3e</string>
			</array>
		</dict>
		<dict/>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1075849883869-2bir2ub34ec7q8rtdghvfr8o1fbjsk3o</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1075849883869-2bir2ub34ec7q8rtdghvfr8o1fbjsk3o.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>1075849883869-gask7g6j5fvappj1d9dec6tjon2mfmfe.apps.googleusercontent.com</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
